.app-container{
    position: relative;
    min-height: 80vh;
}

#banner-vid {
  position: relative;
  width: 100vw;
  margin: 0;
  z-index: -1;
}


.top-banner {
    position: absolute;
    margin-left: 5vw;
}

.top-banner > .headline{
    color: whitesmoke;
    font-size: 65px;
    margin-top: 20vw;
    font-weight: 700;
}

.top-banner > .tagline{
    color: whitesmoke;
    font-size: 35px;
    padding: 25px;
    font-weight: 500;
}


.banner-button{
    background: #f13a59;
    border-color: #ed1c40;
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: .5em;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 12px;
}
.banner-button:hover{
    background: #d12340;
    border-color: #d12340;
}

.categories-list-container .headline{
    font-size: 20px;
    color: #212121;
}

.categories-list-container .tagline{
    font-size: 16px;
    color: #212121;
    margin-bottom: 40px;
}

.categories-list-container {
    text-align: left;
    padding: 0 40px 0 40px;
    margin-bottom: 30px;
    max-width: 90vw;
}

.categories-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories-list li {
    height: 150px;
    width: 250px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 5px 40px 5px;
    font-size: 16px;
    font-weight: 600;
}

.home-cats {
    border-radius: 6px;
    padding-bottom: 5px;
}
