.welcome-page-container{
    background: #ebebeb;
    min-height: 600px;
}


.welcome-profile-banner{
    margin-top: 30px;
    background-color: #00455d;
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-profile-banner .maintext{
    color: #ffffff;
    font-size: 34px;
    font-weight: 700px;
    padding-bottom: 10px;
}

.welcome-profile-banner .subtext{
    color: rgba(225, 225, 225, 0.7);
    font-size: 16px;
    font-weight: 400px;
}


.welcome-item-show-container{
    width: 70%;
    box-sizing: border-box;
    margin-top: 30px;
    padding-left: 20px;
    text-align: left;
}

.welcome-item{
    margin: 20px;
    padding: 10px;
    border: 2px solid lightgrey;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.welcome-item-time{
    width: 50px;
    margin: 20px;
}

.group-index{
    margin-top: 30px;
}

.group-index-button{
    position: absolute;
    width: 200px; 
    background: #ed1c40;
    border-color: #ed1c40;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: .5em;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 12px;
    margin-top: 200px;

}