/* .google-maps-container{
    background-color: lightgray;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
} */


.google_map_item {
        /* height: 100%; */
        position: absolute;
      }

.google-maps-container > div {
        position: absolute;
        width: 300px;
        height: 300px;
      }
