/* Following on Group Panel component and Children */
.second-nav{
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    padding: 15px 15px 10px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    max-width: 90%;
}

.second-nav li {
    color: #2e3e48;
    font-size: 16px;
}

.second-nav li:hover {
    color: #0098ab;
    cursor: pointer;
}

.active {
    font-weight: 700;
}

.group-index-name{
    color: #2e3e48;
    font-size: 16px;
}
.group-index-name:hover{
    color: #0098ab;
    cursor: pointer;
}

.member-pane-index{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.member-list-item{
    height: 200px;
    width: 150px;
    border: 1.5px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.member-user-icon{
    margin-top: 8px 10px 0 0; 
    background:url('../groups/user-icon.png') left top;
    width:18px; 
    height:18px;
    background-size: 18px 18px;
    display: block;
    float: left;
}

.show-about-title{
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 600;
}

.show-about-details{
    margin-bottom: 20px;
}

.show-about-details p{
    padding: 5px 0;
    font-size: 18px;
}

.show-about-body{
    font-size: 16px;
    max-width: 700px;
    min-height: 400px;
    background-color: #ffffff;
    padding: 15px 15px 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid #ccc; */
}

.panel-item-show-container{
    width: 70%;
    box-sizing: border-box;
    margin-top: 30px;
    padding-left: 20px;
    text-align: left;
}

.panel-item-show-container > span{
    font-weight: 600;
    font-size: 16px;
}

.panel-item{
    margin: 20px;
    padding: 10px;
    border: 2px solid lightgrey;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
}

.panel-item-time{
    width: 30%;
    margin: 20px;
}

.panel-item-details{
    width: 70%;
}

.panel-item-details .first{
    font-size: 16px;
    font-weight: 700;
}

.group-info-item-title{
    font-size: 24px;
    padding: 20px;
    text-align: left;
}

.group-info-item-title + p{
    font-size: 16px;
    padding: 20px;
    text-align: left;
}

.panel-about-pane{
    min-height: 250px;
}
.panel-photos-pane{
    border: 2px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 90%;
}

.panel-photos-pane > p{
    font-size: 24px;
}

.group-content-placeholder{
    font-size: 24px;
    padding: 100px;
    border: 2px solid lightgray;
    border-radius: 5px;
}