.header-nav {
    /* margin: 40px, 30px; */
    /* padding: 30px, 30px, 30px, 30px;  */
    width: 100%;
    padding-top: 20px;
    /* border-bottom: 1px solid #ccc; */
}

.header-render {
    padding: 5px 10px 0px 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.mainLogo{
   color: #f64060;
   font-size: 35px;
   font-family: 'Satisfy', cursive;
}

.nav-welcome-message {
    color: #757575;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 400;
}

.nav-button {
    color: #757575;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 400;
}

.nav-button:hover{
    color: #f64060
}