.header-nav {
    /* margin: 40px, 30px; */
    /* padding: 30px, 30px, 30px, 30px;  */
    width: 100%;
    /* border-bottom: 1px solid #ccc; */
}

.header-render {
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-button {
    color: #757575;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 400;
}