.session-form{
    font-weight: bold;
    line-height: 1.45;
    padding: 20px;
    margin-top: 35px;
    max-width: 500px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    display: inline-block;
    text-align: left;
    border-radius: 2px;
}

.form-name {
    font-size: 34px;
}

.session-form-input {
  width: 100%;
  padding: .5em;
  font-size: 12px;
  font-weight: 500;
  margin: 5px 0 16px 0;
  display: inline-block;
  background: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 2px;
}


.session-submit{
    background: #ed1c40;
    border-color: #ed1c40;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: .5em;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 12px;
}

.session-submit:hover {
  background: #e21b3c;
  border-color: #e21b3c;
}


/* .form-name {
    
} */
/* .other-form {
  background-color: #f1f1f1;
  text-align: center;
  also need to add link toggle on form 
} */